<a href="https://colab.research.google.com/github/josuesantacruz32/Optativa-Profesional/blob/main/operaciones_basicas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    'Nombre':['Ana', 'Juan', 'Maria', 'Carlos', 'Sofia'],
    'Edad':[25,30,22,28,35],
    'Cuidad':['Madrid','Barcelona','Madrid','Valencia', 'Barcelona'],
    'Puntuacion':[85,92,78,95,88]
})

print("DataFrame original:")
print(df)

DataFrame original:
   Nombre  Edad     Cuidad  Puntuacion
0     Ana    25     Madrid          85
1    Juan    30  Barcelona          92
2   Maria    22     Madrid          78
3  Carlos    28   Valencia          95
4   Sofia    35  Barcelona          88

Filtrado

In [4]:
mayores_25 = df[df['Edad'] > 25]
print("\nPersonas mayores de 25 a単os:")
print(mayores_25)

Personas mayores de 25 a単os:
   Nombre  Edad     Cuidad  Puntuacion
1    Juan    30  Barcelona          92
3  Carlos    28   Valencia          95
4   Sofia    35  Barcelona          88

Agrupacion y agregacion

In [5]:
resultado = df[df['Edad'] > 25].groupby('Cuidad')['Puntuacion'].max()
print("\nPromedio de puntuacion por cuidad para personas mayores de 25 a単os:")
print(resultado)

Promedio de puntuacion por cuidad para personas mayores de 25 a単os:
Cuidad
Barcelona    92
Valencia     95
Name: Puntuacion, dtype: int64